
<div class="flex flex-col  ">
<div class="w-[70%] px-12 flex flex-col items-end">
<%= button_to "Start Writing", new_user_post_path(1), class: "bg-blue-300 hover:bg-blue-500 font-semibold text-white py-2 px-5 mb-4 rounded-md", method: :get %>

<div class="w-full flex flex-col relative items-center justify-center ">
    <%= image_tag "pexels-pixabay-265667", class: "w-full blur-[2px]" %>
    <div class= "bg-[#00000099] w-full h-full absolute"></div>
    <div class="absolute text-white text-center  px-[50px] flex items-center flex-col gap-2">
        <h1 class="text-5xl font-bold">Unlocking Creativity and Connecting Minds</h1>
        <p class= "text-lg">Introducing BlogHub - Your All-In-One Blogging Destination for Inspiring Ideas and Thoughtful Discussions</p>
        <%= link_to "Get Started", users_path, class: "bg-blue-500 p-3 rounded-full" %>
    </div>
</div>

<div class=" grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-3 my-10 bg-white p-7 ">
    <% @posts.each do |post| %>
    <%= link_to post_path(post.title), class: "relative" do %>
        <div class="flex flex-col gap-2 relative mb-12">
            <div class="w-full h-36 bg-gray-400 rounded-md"></div>
            <h2 class="font-extrabold text-xl"><%= post.title.split.map { |word| word.capitalize() }.join(" ") %></h2>
            <p class="break-words font-medium text-sm text-gray-600 "><%= post.text.truncate(60, seperator: " ") %></p>  
        </div >
        <div class="absolute bottom-0 flex justify-between w-full" >
        <%= button_to "read more", post_path(post.title), method: :get, class: "font-bold text-xs " %>
        <div class="flex gap-3">
            <%= button_to "#{post.likes_counter} likes", post_path(post.title), class: "font-bold text-xs " %>
            <%= button_to "#{post.comments_counter} comments", post_path(post.title), class: "font-bold text-xs " %>
        </div>
        </div>
       <% end %>
    <% end %>
</div>

</div>
    


</div>
