
<div class="flex flex-col  ">
<div class="w-[75%] px-12 flex flex-col items-end">
<%= button_to "Start Writing", "posts/new", class: "bg-blue-300 hover:bg-blue-500 font-semibold text-white py-2 px-5 mb-4 rounded-md", method: :get %>

<div class="w-full flex flex-col relative items-center justify-center ">
    <%= image_tag "pexels-pixabay-265667.jpg", class: "w-full blur-[2px]" %>
    <div class= "bg-[#00000099] w-full h-full absolute"></div>
    <div class="absolute text-white text-center  px-[50px] flex items-center flex-col gap-2">
        <h1 class="text-5xl font-bold">Unlocking Creativity and Connecting Minds</h1>
        <p class= "text-lg">Introducing BlogHub - Your All-In-One Blogging Destination for Inspiring Ideas and Thoughtful Discussions</p>
        <%= link_to "Get Started", new_user_registration_path, class: "bg-blue-500 p-3 rounded-full" %>
    </div>
</div>

<div class=" bg-white my-10 flex flex-col items-center gap-5">
    <div class=" grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-7  ">
    <% @posts.each do |post| %>
   <%= render partial: "posts/post", locals: { post: post } %>
    <% end %>
</div>
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
 

</div>
    


</div>
