 <div class="relative">
        <div class="flex flex-col gap-2 relative mb-12">
            <% if post.featured_image.attached? %>
            <div class="w-full h-36 rounded-md">
                <img src="<%= url_for(post.featured_image) %>" alt="cover image" class="w-full h-full rounded-md">
            </div>
            
            <% else %>
            <div class="w-full h-36 bg-gray-400 rounded-md"></div>
            <% end %>
            <h2 class="font-extrabold text-xl"><%= post.capitalize_title %></h2>
            <p class="break-words font-medium text-sm text-gray-600 "><%= post.text.truncate(60, seperator: " ") %></p>  
        </div >
        <div class="absolute bottom-0 flex justify-between w-full" >
        <%= button_to "read more", post_path(post.id), method: :get, class: "font-bold text-xs " %>
        <div class="flex items-center gap-3">
           
           <%= render partial: "posts/likes", locals: { post: post } %>
            
           
            <%= button_to post_path(post.title), method: :post, class: "flex items-center gap-1 " do %>
                 <p class="text-xs font-bold"><%= post.likes_counter %> </p> <i class="fa-regular fa-comment fa-xs"></i></i>           
            <% end %>
        </div>
        </div>
       </div>