<div>
    <h2><%= @post.title %> by <%= @post.author.name %></h2>
    <p><%= @post.text %></p>
    <div>
        <p>comments: <%= @post.comments_counter %></p>
        <p>likes: <%= @post.likes_counter %></p>
    </div>
    <% @post.comments.each do |comment| %>
        <p><%= comment.author.name %>: <%= comment.text %></p>
   <% end %>
    
</div>

