<div class=" px-[20%] flex flex-col gap-6 py-10">
    <h2 class="text-5xl font-extrabold"><%= @post.capitalize_title %> </h2> 

    <div>
        <div class="p-auto w-[100%] ">
            <img src="<%= url_for(@post.featured_image)%>">
        </div>
        <div class="flex gap-5 text-sm font-bold">
            <p>comments: <%= @post.comments_counter %></p>
            <p>likes: <%= @post.likes_counter %></p>
        </div>
    </div>

    <p class=""><%= @post.text %></p>
    <div class="bg-white rounded-md w-full shadow-md min-h-[100px] px-5 py-3">
    <h2 class="font-bold text-2xl"> COMMENTS</h2>
        <% @post.comments.each do |comment| %>
        <p><%= comment.author.name %>: <%= comment.text %></p>
   <% end %>
    </div>
    


   <div id="new_comment" class="flex flex-col gap-3 ">
        <h2 class="text-2xl font-semibold"> Comment On This Post</h2>
        <%= form_with model: @comment, path: comments_path, method: :post, local: true do |f| %>
               <%= f.text_area :text, class:"rounded-md h-[150px] w-3/5 bg-gray-200 border-none focus:bg-white font-medium px-4", placeholder: "Add a comment here" %>
        <% end %>
   </div>
   
    
</div>

