<div>
    <h2><%= @post.title%></h2>
    <p><%= @post.text %></p>
    <div>
        <p>comments: <%= @post.comments_counter%></p>
        <p>likes: <%= @post.likes_counter%></p>
    </div>
    <% @post.comments.each do |comment|%>
        <p><%= comment.author.name %>: <%= comment.text %></p>
   <% end %>
    <%= link_to new_user_post_comment_path(post_id: params[:id]) do%>
            <button>Add comments</button>
         <% end %>
    <%= link_to new_user_post_like_path(post_id: params[:id]) do%>
            <button>Like</button>
         <% end %>
</div>

